<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip, depuis le dossier views !</h1>
    puts 'Bienvenue, '
    puts 'Quel est ton nom'
    name = gets.chomp
    puts 'Bienvenue, #{name}'

    class Gossip
    <a href="/gossips/new/">Rihanna est enceinte</a>


  </body>

</html>